<form id="new-contact">
   <label for="new-first-name">First Name</label>
   <input type="text" id="new-first-name" name="new-first-name">
   <label for="new-last-name">Last Name</label>
   <input type="text" id="new-last-name" name="new-last-name">
   <label for="new-phone-number">Phone Number</label>
   <input type="text" id="new-phone-number" name="new-phone-number">
   <button type="submit">Add</button>
</form>
